.mapWrapper {
	margin-bottom: var(--paddingOutside);
	--mapWidth: calc(100vw - 2 * var(--paddingOutside)); /* 1200px; */
	--mapHeight: 900px;
	--detailsBoxWidth: 250px;
	--siteListWidth: 250px;
}

.mapDiv {
	position: relative;
}

.mapDiv h2 {
	position: absolute;
	top: 12px;
	left: 80px;
	z-index: 3;
	background-color: var(--white);
	padding: 1px 12px;
	border-radius: 12px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	color: var(--highlight);

}