.entry {
	font-size: 16px;
	line-height: 1.5;
	/* border: 1px solid var(--black); */
	background-color: var(--white);
	padding: var(--paddingInside);
	position: absolute;
	bottom: var(--paddingInside);
	left: var(--paddingInside);
	transition: 0.5s;
	z-index: 3;
	max-width: var(--detailsBoxWidth);;
	max-height: calc(var(--mapHeight) - var(--paddingInside) - 85px); /* 85px is the height of top map controls */
	overflow-y: auto;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.entry p {
	margin-top: 10px;
	font-size: 14px;
}

.notOnMap {
	color: var(--warning);
}